@import url('https://fonts.googleapis.com/css2?family=Newsreader:opsz,wght@6..72,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Newsreader:opsz,wght@6..72,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');

h2{
	font-family: 'Newsreader', serif;
}




.carousel .carousel-caption {
	bottom: 320px;
	z-index: 2;
}
.carousel .carousel-caption h5{
	font-size: 45px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 25px;
	font-family: 'Newsreader', serif;
}

.carousel .carousel-caption p {
	width: 60%;
	margin: auto;
	font-size: 20px;
	line-height: 1.9;
}
.carousel .carousel-inner::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.carousel img {
	height: 100vh;
}
.all-section-p {
	margin-top: 10% !important;
}
.about img {
	height: 60vh;
	width: 100%;
}
.service .card-body {
	font-size: 50px;
}
.Portfolio .row img {
	height: 50vh;
	width: 100%;
}
.team .row img {
	height: 20vh;
	width: 55%;
}
.team .row .socials i {
	font-size: 15px;
  	transition: .3s;
}
.team .row .socials i:hover {
	color: #1E90FF;
}

footer a{
	color: rgba(255, 255, 255, 0.5) !important;
	text-decoration: none;
}
footer a:hover{
	text-decoration: underline;
	color: rgba(255, 255, 255, 0.75) !important;
}
